/*================*/
/*===Pre Build Codes From easyUI===*/
/*===============*/

:root {
  --accent: #02aba8; /*289997*/
  --white: #ffffffff;
}

.btn {
  display: inline-flex;
  margin: 0;
  border-width: 0;
  border-color: transparent;
  padding: 8px 24px;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.3s;
  align-items: center;
  justify-content: center;
}

.btn.btn-sm {
  padding: 7.5px 22.5px !important;
  font-size: 15px;
}

.btn.btn-md {
  padding: 8px 24px !important;
  font-size: 15px;
}

.btn.btn-lg {
  padding: 13px 30px !important;
  font-size: 16.5px; /*Added*/
  border-radius: 7px !important; /*Added*/
}

.btn.btn-custom {
  background-color: var(--accent);
  color: var(--white);
}

.btn.btn-custom:hover {
  background-color: #009794;
}

.btn.btn-custom .btn-outline {
  border: 1.2px solid var(--accent);
  background-color: var(--white);
  color: var(--accent);
}

.btn.btn-custom .btn-outline:hover {
  background-color: var(--accent);
  color: var(--white);
}

.btn.btn-custom:disabled {
  pointer-events: none;
}

.btn.btn-custom:active {
  scale: 0.95;
  color: var(--white);
}

@media screen and (max-width: 450px) {
  .btn {
    font-size: 14px !important;
  }
}

.btn.btn-about {
  font-family: Poppins !important;
  font-weight: 400 !important;
  padding: 16.2px 40.3px !important;
  font-size: 18.5px !important;
  border-radius: 8px !important;
}
/* Additional CSS for the Back to Top button */
#back-to-top {
  position: fixed;
  bottom: 20px; /* the distance from the bottom as needed */
  right: 20px; /* the distance from the right as needed */
  width: 50px; /* the width of the button */
  height: 50px; /* the height of the button */
  background-color: #f0f0f0; /* Initial background color (light gray) */
  color: #272341; /* Initial text color (black) */
  border: none;
  border-radius: 7px; /* the button rounded with border radius */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, color 0.02s; /* a smooth transition for background color, scale, and text color */
  z-index: 999; /* Set a high z-index value to ensure it's above other elements */
}

/* Style the ion-icon inside the button */
#back-to-top ion-icon {
  font-size: 25px; /* the icon size */
  margin: 0; /* Remove any margin */
}

/* Style the button on hover */
#back-to-top:hover {
  background-color: #6dd7d1; /* Change the background color to a lighter shade of green on hover */
  color: #fff; /* Change the text color to white on hover */
  transform: scale(1.075); /* a slight scale effect on hover */
}

body {
    display: block;
}

#error_text span {
    color: #272341;
    background-color: none;
    font-family: Montserrat;
    font-weight: 700;
}

#error_text {
    font-size: 32px
}

button {
    position: relative;
    display: flex;
    top: 30px;
    padding: 5.5px 13.5px;
    width: fit-content;
    height: fit-content;
    border: 2px solid #01b3af;
    color: #01b3af;
    background-color: #fff;
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    color: #fff;
    background-color: #01b3af;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

