.dark-mode {
    background-color: #00040f;
    color: white;
  }



  
/*================*/
/*===Scroll Bar===*/
/*===============*/
  
  /* Track */
::-webkit-scrollbar-track {
    /* border: 1px solid #008785; */
    background-color: #00040f;
  }
  
  /* Handle */
 ::-webkit-scrollbar-thumb {
    background: #01b3afd4;
  }

  .dark-mode  ::-webkit-scrollbar-thumb:hover {
    background: #01b3afc8;
  }




.dark-mode .navbar {
    background-color: #00040f70;
}

.dark-mode .navbar-logo {
    color: #01b3af;
}

.dark-mode .navbar-right a {
    padding: 0.4em 0.6em;
    border-radius: 4.75px;
    color: #fff;
}

.dark-mode .home .container a.button {
  background: linear-gradient(to right, #01b3af 50%, #00040f 50%);
  background-size: 200% 100%;
  background-position: right;
  transition: all .25s ease-out;
}

.home .container a.button:hover {
  color: #fff;
  background-position: left;

}

.dark-mode .home .container #role {
    color: aliceblue;
  }
  
  .dark-mode .home .container .typed-cursor {
    color: aliceblue;
  }
  
  .dark-mode .title {
    color: aliceblue;
  }
  
  .dark-mode .container {
    color: aliceblue;
  }
  
  .dark-mode .event-content {
    box-shadow: 2px 3px 0px #01b3b0d0;
}