.my-newheading1{
    font-weight: 800;
    font-size: 20px;
    color: #355c7d;
}
.my-newheading2{
    opacity: 0;
    background: linear-gradient(120deg, #f8b195, #f67280, #c06c84);
    font-weight: 700;
    font-size: 70px;  
    width: 237px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
    animation: shring-animation 2.2s steps(40,end) 2s forwards, blink .5s step-end infinite alternate;
}
@media screen and (max-width:992px){
    .my-newheading2{
        font-size: 60px; 
    }
}
@media screen and (max-width:914px){
    .my-newheading2{
        width: auto;
        animation: shring-animation 2.2s steps(40,end) 2s forwards;
        border-right: none !important;
        font-size: 50px;
    }
}
@media screen and (max-width:350px){
    .my-newheading2{
        font-size: 40px; 
    }
}
  
  @keyframes shring-animation {
    0% {
      background-position: 0 0;
      opacity: 0;
      width: 0;
    }
    1% {
      background-position: 0 0;
      opacity: 1;
      border-right: 1px solid orange;
    }
    50% {
      background-position: 150px 0;
      opacity: 1;
      border-right: 1px solid orange;
    }
    100% {
      background-position: 400px 0;
      opacity: 1;
      border-right: 1px solid orange;
    }
  }
  
  @keyframes type {
    0% {
      width: 0;
    }
    1%, 99%{
      border-right: 1px solid orange;
    }
    100%{
      border-right: none;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

/* my changes oct 7 */
.mynewcontainer{
  padding: 5%;
}

.page2{
  min-height: 100vh;
  background: #fff;

}
canvas{
  position: absolute;
  z-index: -1;
  min-height: 200vh;
}