/*================*/
/*===Fonts===*/
/*===============*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700");

/*================*/
/*===HTML===*/
/*===============*/

body {
  background-color: #fff;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  transition: 0.3s;
  outline: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: 0.3s;
}

html {
  scroll-behavior: smooth;
  outline: none;
}

/*================*/
/*===Links===*/
/*===============*/

.icon {
  height: 4vh;
}

.icon:hover {
  height: 5vh;
}

#facebookicon {
  position: absolute;
  left: 7vh;
  top: 40vh;
}

#linkedinicon {
  position: absolute;
  left: 7vh;
  top: 49vh;
}

#linkicon {
  position: absolute;
  left: 7vh;
  top: 63vh;
}

#xicon {
  position: absolute;
  left: 7vh;
  top: 56vh;
}

a {
  text-decoration: none;
  width: fit-content;
  display: flex;
}

a:link {
  color: currentColor;
}

/* visited link */
a:visited {
  color: currentColor;
}

.px50 {
  display: flex;
  position: relative;
  width: 100%;
  height: 50px;
}

/*================*/
/*===Scroll Bar===*/
/*===============*/

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ddd;
}

::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

/*================*/
/*===Text Selection===*/
/*===============*/

::selection {
  background: aliceblue;
}

/*================*/
/*===Home Page===*/
/*===============*/

.home {
  display: flex;
  width: 1150px;
  height: 100vh;
  background-color: none;
  align-items: center;
  justify-content: center;
}

.home .container {
  width: 95%;
  height: 225px;
  background-color: none;
  color: #272341;
  font-size: 56px;
  font-family: Montserrat;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 120px;
}

.home .container .icons-container {
  display: none;
  position: absolute;
  width: 50px;
  left: 10vw;
  height: 25px;
}

.home .container span {
  color: #01b3af;
}

.home .container #role {
  color: #272341;
}

.home .container .typed-cursor {
  color: #272341;
}

.home .container a.button {
  position: relative;
  display: flex;
  top: 30px;
  padding: 5.5px 13.5px;
  width: fit-content;
  height: fit-content;
  border: 2px solid #01b3af;
  color: #01b3af;
  font-size: 24px;
  font-family: Montserrat;
  font-weight: 700;
  cursor: pointer;
  background: linear-gradient(to right, #01b3af 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: right;
  transition: all 0.25s ease-out;
}

.home .container a.buttonIcon {
  position: relative;
  display: flex;
  top: -187.5px;
  left: -100px;
  width: 50px;
  height: 225px;

  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.home .container a.buttonIcon .boxes {
  display: flex;
  position: relative;
  width: 44px;
  height: 44px;
  background: linear-gradient(to right, #f6f6f6 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: right;
  transition: all 0.25s ease-out;
  color: #3a3947;
  font-size: 19.5px;
  font-weight: lighter;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  cursor: pointer;
}

.home .container a.buttonIcon .boxes:hover {
  background-position: left;
}

.home .container a.button:hover {
  color: #fff;
  background-position: left;
}

@media screen and (max-width: 915px) {
  .home .container a.buttonIcon {
    display: none;
  }

  .home .container {
    padding-left: 0 !important;
  }

  .home .container {
    font-size: 41px;
    text-align: center;
    line-height: 1.5em;
    position: relative;
  }

  .home .container .button {
    position: relative;
    line-height: normal !important;
    left: 0;
    right: 0;
    margin: auto;
  }
}

/*================*/
/*===About===*/
/*===============*/

.aboutC {
  display: flex;
  position: relative;
  width: 100%;
  height: fit-content;
  background-color: none;
  min-height: 600px;
  align-items: start;
  justify-content: start;
  overflow: hidden;
  flex-wrap: wrap;
  flex-direction: column;
}

.aboutC .title {
  display: flex;
  position: relative;
  top: 0;
  width: 750px;
  left: 0;
  right: 0;
  margin: auto;
  height: 75px;
  align-items: center;
  justify-content: center;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 55px;
  background-color: none;
  text-align: center;
  color: #272341;
  letter-spacing: 0.5px;
}

.aboutC .titleGap {
  display: flex;
  position: relative;
  width: 100%;
  height: 25px;
  background-color: none;
}

.aboutC .containerGap {
  display: flex;
  position: relative;
  width: 100%;
  height: 50px;
  background-color: none;
}

.aboutC .titleSmall {
  display: flex;
  top: 0;
  position: relative;
  width: 750px;
  left: 0;
  right: 0;
  margin: auto;
  height: 57.5px;
  align-items: center;
  justify-content: center;
  font-family: Poppins;
  font-weight: 300;
  font-size: 18px;
  background-color: none;
  text-align: center;
  color: #96989b;
  flex-wrap: wrap;
  letter-spacing: 0.3px;
}

.aboutC .bottomC {
  display: flex;
  position: relative;
  width: 100%;
  height: 100px;
  bottom: 0;
  background-color: none;
}

.aboutC .container {
  display: flex;
  position: relative;
  width: 750px;
  height: fit-content;
  min-height: 292.5px;
  background-color: none;
  align-items: start;
  justify-content: space-between;
  left: 0;
  right: 0;
  margin: auto;
}

.aboutC .container .leftC {
  display: flex;
  position: relative;
  width: 60%;
  padding-right: 50px;
  height: fit-content;
  min-height: 292.5px;
  background-color: none;
  padding-top: 10px;
  padding-bottom: 35px;
  align-items: start;
  justify-content: start;
  flex-wrap: wrap;
  flex-direction: column;
}

.aboutC .container .leftC .text {
  display: flex;
  position: relative;
  width: 100%;
  height: fit-content;
  font-family: "Poppins";
  font-weight: 300;
  font-size: 25.5px;
  color: #01b3af;
  background-color: none;
}

.aboutC .container .leftC .textMain {
  display: flex;
  position: relative;
  width: 100%;
  height: fit-content;
  font-family: "Poppins";
  font-weight: 300;
  font-size: 20px;
  color: #777;
  line-height: 1.9em;
  background-color: none;
}

.aboutC .container .rightC {
  display: flex;
  position: relative;
  width: 32%;
  height: fit-content;
  min-height: 292.5px;
  background-color: none;
  padding-top: 10px;
  align-items: start;
  justify-content: start;
  flex-wrap: wrap;
  flex-direction: column;
  transition: 0.3s !important;
}

.aboutC .container .rightC .text {
  display: flex;
  position: relative;
  width: 100%;
  height: fit-content;
  font-family: "Poppins";
  font-weight: 300;
  font-size: 25.5px;
  color: #01b3af;
  background-color: none;
}

.aboutC .container .rightC .textMain {
  display: flex;
  position: relative;
  width: 100%;
  height: fit-content;
  font-family: "Poppins";
  font-weight: 300;
  font-size: 20px;
  color: #777;
  line-height: 1.9em;
  background-color: none;
}

.aboutC .container .rightC .btnC {
  display: flex;
  position: relative;
  align-items: end;
  justify-content: start;
  width: 100%;
  height: fit-content;
  min-height: 90px;
  background-color: none;
}

.aboutC .container .rightC .btnResume {
  display: flex;
  position: relative;
  align-items: end;
  justify-content: start;
  width: 100%;
  height: 90px;
  min-height: 90px;
  background-color: none;
}

@media screen and (max-width: 915px) {
  .aboutC .title {
    font-size: 43px;
    left: 5px;
    width: 300px;
  }

  .aboutC .titleSmall {
    font-size: 19.5px;
    width: 200px;
  }

  .aboutC .container {
    flex-wrap: wrap;
    flex-direction: column;
    width: 65%;
  }

  .aboutC .container .leftC {
    width: 100%;
    padding-right: 0;
    min-height: 225px;
    align-items: center;
    justify-content: center;
  }

  .aboutC .container .rightC {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    min-height: 200px;
    align-items: center;
    justify-content: center;
  }

  .aboutC .container .rightC .textMain {
    width: 50%;
  }

  .aboutC .container .rightC .btnC {
    width: 50%;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    max-height: 40px;
  }
}

/*================*/
/*===Education Section===*/
/*===============*/

/*  Education Section Styling */
.white-emoji {
  color: white;
  /* Set emoji color to white */
  font-size: 24px;
  /* Adjust the size if necessary */
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

.timeline-container {
  position: relative;
}

.timeline-line {
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: #d1d5db;
  transform: translateX(-50%);
}

.event-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  position: relative;
  opacity: 0;
  width: 800px;
  padding-inline: 10px;
  transform: scale(0.8);
  animation: popUp 0.5s forwards;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Reverse layout for alternating items */
.reverse {
  flex-direction: row-reverse;
}

/* Empty Space to Align the Event Icons */
.empty-space {
  width: calc(43.75% + 10px);
}

/* Event Icon */
.event-icon {
  background-color: #01b3af;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  position: relative;
}

.svg-icon {
  width: 20px;
  height: 20px;
  color: white;
}

/* Event Content */
.event-content {
  width: 40%;
  background-color: #f8f8f8 !important;
  padding: 27.5px;
  border-radius: 7px;
  width: 350px;
  height: fit-content;
  position: relative;
  cursor: pointer;
}

/* Event Title and Time */
.event-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.event-schedule .title {
  color: #272341;
  letter-spacing: 0.5px;
  font-size: 55px;
  width: fit-content;
}

/* Animation Keyframes for Pop-Up Effect */
@keyframes popUp {
  to {
    opacity: 1;
    transform: scale(1);
    /* Final scale after animation */
  }
}

/* Hover Effect */
.event-content:hover {
  scale: 1.01;
  background-color: #f2f2f2 !important;
}

.event-content .text {
  display: flex;
  position: relative;
  width: 100%;
  height: fit-content;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 18px;
  color: #01b3af;
  background-color: none;
}

.event-content .event-time {
  color: #6b7280;
  margin-top: 5px;
  display: flex;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 13px;
}

.event-content .textMain {
  display: flex;
  margin-top: 10px;
  position: relative;
  width: 100%;
  height: fit-content;
  font-family: "Poppins";
  font-weight: 300;
  font-size: 16.3px;
  color: #777;
  background-color: none;
}

/* Responsive Styles */

@media screen and (max-width: 768px) {
  .event-item {
    flex-direction: column;
    margin: 1.5rem;
    width: 80vw;
  }

  .reverse {
    flex-direction: column;
  }

  .empty-space {
    display: flex;
  }

  .event-content {
    width: 100%;
    margin-top: 20px;
  }

  .timeline-line {
    display: flex;
  }
}

.eduC .title {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 75px;
  align-items: center;
  justify-content: center;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 55px;
  background-color: none;
  text-align: center;
  color: #272341;
  letter-spacing: 0.5px;
  width: 100%;
}

.eduC .titleSmall {
  text-align: center;
  font-family: Poppins;
  font-weight: 300;
  font-size: 18px;
  color: #96989b;
}

.eduC .titleGap {
  height: 20px;
  display: flex;
}

.eduC .containerGap {
  display: flex;
  position: relative;
  width: 100%;
  height: 50px;
  background-color: none;
}

@media screen and (max-width: 576px) {
  .event-item {
    flex-direction: column;
    margin: 1.5rem;
    width: fit-content;
  }

  .reverse {
    flex-direction: column;
  }

  .empty-space {
    display: flex;
  }

  .event-content {
    width: 100%;
    margin-top: 20px;
  }

  .timeline-line {
    display: flex;
  }
}

@media screen and (max-width: 915px) {
  .eduC .title {
    font-size: 43px;
    left: 0;
    margin: auto;
    left: -10px !important;
    width: 100%;
  }

  .eduC .titleSmall {
    font-size: 19.5px;
    width: 100%;
  }
}

/*================*/
/*===Services Section===*/
/*===============*/

.servicesC {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 60px;
  padding: 50px 0;
  overflow: hidden;
  position: relative;
}

.servicesC .title {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 75px;
  align-items: center;
  justify-content: center;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 55px;
  background-color: none;
  text-align: center;
  color: #272341;
  letter-spacing: 0.5px;
  width: fit-content;
}

.servicesC .titleGap {
  height: 20px;
}

.servicesC .titleSmall {
  text-align: center;
  font-family: Poppins;
  font-weight: 300;
  font-size: 18px;
  color: #96989b;
}

.servicesC .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
}

.serviceItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin: 20px;
  background: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s;
  /* border: 1.4px solid #f0f0f0; */
  cursor: pointer;
  transition: 0.3s;
}

.serviceItem:hover {
  transform: translateY(-3px);
  background-color: #f2f2f2 !important;
}

.serviceIcon {
  font-size: 40px;
  color: #01b3af;
  margin-bottom: 10px;
}

.serviceText {
  text-align: center;
  font-family: "Poppins" !important;
  font-size: 15px;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.serviceText .text {
  font-weight: bold;
  display: flex;
  font-size: 20px;
  color: #3a3947;
  font-family: "Poppins" !important;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}

.serviceText .textMain {
  display: flex;
  font-size: 16px;
  color: #777;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat" !important;
}

@media screen and (max-width: 915px) {
  .servicesC .title {
    font-size: 43px;
    left: 0;
    margin: auto;
    left: -10px !important;
    width: 100%;
  }

  .servicesC .titleSmall {
    font-size: 19.5px;
    width: 100%;
  }
}

/*================*/
/*===Skills===*/
/*===============*/

.skillsC {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 60px;
  overflow: hidden;
  position: relative;
}

.skillsC .title {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 75px;
  align-items: center;
  justify-content: center;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 55px;
  background-color: none;
  text-align: center;
  color: #272341;
  letter-spacing: 0.5px;
  width: fit-content;
}

.skillsC .titleGap {
  height: 20px;
}

.skillsC .titleSmall {
  text-align: center;
  font-family: Poppins;
  font-weight: 300;
  font-size: 18px;
  color: #96989b;
}

.skillsC .container {
  display: flex;
  width: 700px;
  height: fit-content;
  min-height: fit-content;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;

  margin-top: 20px;
  background-color: none;
}

.skillsC .container .boxes {
  display: flex;
  position: relative;
  width: 320px;
  height: 70px;
  margin-bottom: 30px;

  background-color: #f8f8f8;

  transition: transform 0.3s;
  /* border: 1.4px solid #f0f0f0; */
  cursor: pointer;
  transition: 0.3s;
  border-radius: 6px;
}

.skillsC .container .boxes:hover {
  scale: 1.05;
  background-color: #f2f2f2;
}

.skillsC .container .boxes .left {
  display: flex;
  position: relative;
  left: 0;
  width: 70px;
  height: 70px;
  background-color: none;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  color: #01b3af;
}

.skillsC .container .boxes .left .circle {
  display: flex;
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background: radial-gradient(closest-side, #f8f8f8 71%, transparent 0% 0%),
    conic-gradient(#01b3af 95%, rgb(219, 221, 226) 0);
  align-items: center;
  justify-content: center;
  font-family: "Poppins";
  color: #6b7280;
  font-size: 11px;
  font-weight: bold;
  display: flex;
}

.skillsC .container .boxes .right {
  display: flex;
  position: relative;
  right: 0;
  width: 240px;
  background-color: none;
  align-items: center;
  justify-content: start;
  font-size: 15px;
  padding-left: 10px;
  font-family: "Montserrat";
  font-weight: normal;
  letter-spacing: 0px;
  color: #6b7280;
}

.skillsC .container .buttonCont {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
  height: fit-content;
  min-height: 90px;
  background-color: none;
}

@media screen and (max-width: 915px) {
  .skillsC .title {
    font-size: 43px;
    width: 300px;
  }

  .skillsC .titleSmall {
    font-size: 19.5px;
    width: 200px;
  }
}

@media screen and (max-width: 800px) {
  .skillsC .container {
    width: 500px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and(max-width:480px) {
  .skillsC .container .buttonCont {
    margin-top: -30px !important;
    align-items: center;
    justify-content: center;
  }

  .skillsC .container .btn {
    margin-top: 0 !important;
  }

  .skillsC .btn.btn-about {
    margin-top: 0 !important;
    /* Increased the top margin of the button */
  }
}

/* 
.footer {
  display: flex;
  position: relative;
  width: 650px;
  background-color: none;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-size: 15px;
  font-family: Poppins;
  color: #96989b;
  font-weight: 300;
  letter-spacing: 1px;
  border-top: 1.89px solid #ddd;
  min-height: 60px;
  padding-top: 5px;
  padding-bottom: 10px;
} */

/* 
.footer span a {
  display: inline !important;
  font-weight: 300;
  transition: 0.3s;
  text-decoration: underline;
}

.footer a:hover {
  font-weight: 300;
  color: #666;
}

.footer a.buttonIcon {
  position: absolute;
  top: 60px;
  display: none;
  width: 225px;
  height: 50px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.footer a.buttonIcon .boxes {
  display: flex;
  position: relative;
  width: 44px;
  height: 44px;
  background-color: none;
  color: #96989b;
  font-size: 19.5px;
  font-weight: lighter;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.1s !important;
  transition-delay: 0s !important;
}

.footer a.buttonIcon .boxes:hover {
  color: #666;
}

@media screen and (max-width: 915px) {
  .footer {
    width: 90%;
  }

  .footer a.buttonIcon {
    display: flex;
  }
}

@media screen and (max-width: 400px) {
  .footer a.buttonIcon {
    top: 75px;
  }
} */

@media screen and (max-width: 315px) {
  .home .container {
    font-size: 35px;
  }

  .home .container a.button {
    font-size: 17px;
  }

  .aboutC .container .leftC .textMain {
    font-size: 17px;
  }

  .aboutC .container .rightC .textMain {
    font-size: 17px;
  }
}

@media screen and (max-width: 480px) {
  .btn.btn-about {
    margin-top: 90px;
    /* Increased the top margin of the button */
  }

  .aboutC .container {
    flex-wrap: wrap;
    flex-direction: column;
    width: 65%;
  }

  .aboutC .container .rightC .textMain {
    width: 100%;
  }

  .aboutC .container .rightC .text {
    width: 100%;
    margin-bottom: 18px;
  }

  .aboutC .container .rightC .btnC {
    width: 100%;
  }

  /* .footer {
    font-size: 12.5px;
  } */
}

/* Additional CSS for the Back to Top button */
#back-to-top {
  position: fixed;
  bottom: 20px;
  /* the distance from the bottom as needed */
  right: 20px;
  /* the distance from the right as needed */
  width: 50px;
  /* the width of the button */
  height: 50px;
  /* the height of the button */
  background-color: #dddddd50;
  /* Initial background color (light gray) */
  color: #3a3947;
  /* Initial text color (black) */
  border: none;
  font-size: 22px;
  border-radius: 7px;
  /* the button rounded with border radius */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, color 0.02s, scale 0.3s;
  /* a smooth transition for background color, scale, and text color */
  z-index: 999;
  /* Set a high z-index value to ensure it's above other elements */
}

/* Style the ion-icon inside the button */
#back-to-top ion-icon {
  font-size: 25px;
  /* the icon size */
  margin: 0;
  /* Remove any margin */
}

/* Style the button on hover */
#back-to-top:hover {
  background-color: #efefef;
  /* Change the background color to a lighter shade of green on hover */
}

#back-to-top:active {
  scale: 0.95;
}

/*================*/
/*===Footer===*/
/*===============*/

.footer span .icon-heart {
  color: #f87272;
  font-size: 20px;
  padding-inline: 3px;
  position: absolute;
}

.footer {
  display: flex;
  position: relative;
  width: 850px;
  background-color: none;
  align-items: start;
  justify-content: center;
  /* sice flex-wrap: wrap is done so we don't need to worry about the the footer's  responsiveness*/
  flex-wrap: wrap;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-size: 15px;
  font-family: Poppins;
  color: #96989b;
  font-weight: 300;
  letter-spacing: 1px;
  /* border-top: 1.89px solid #ddd; */
  min-height: 50px;
  margin-bottom: 30px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.footer .topHeader {
  width: 100%;
  height: 300px;
  border-radius: 0px 0px 30px 30px;
  background-color: #01b3af;
  align-items: center;
  display: flex;
  position: relative;
  justify-content: center;
  color: #272341;
  gap: 200px;
}

.topHeader .left {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  color: #272341;
  font-family: "Poppins";
  width: fit-content;
  height: 120px;
  left: 0;
  font-size: 60px;
  font-weight: normal;
}

.topHeader .left::before {
  content: "";
  width: calc(100% + 30px);
  height: 0.7px;
  background-color: #272341;
  display: flex;
  position: absolute;
  top: 20px;
}

.topHeader .left::after {
  content: "Year";
  width: fit-content;
  padding-inline: 10px;
  height: fit-content;
  background-color: none;
  border: 0.7px solid #272341;
  border-radius: 50px;
  display: flex;
  position: absolute;
  top: 20px;
  left: -50px;
  font-size: 10px !important;
}

.topHeader .right {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  color: #272341;
  font-family: "Poppins";
  width: fit-content;
  height: 120px;
  left: 0;
  font-size: 60px;
  font-weight: normal;
}

.topHeader .right::before {
  content: "";
  width: calc(100% + 100px);
  height: 0.7px;
  background-color: #272341;
  display: flex;
  position: absolute;
  top: 20px;
}

.topHeader .right::after {
  content: "Location";
  width: fit-content;
  padding-inline: 10px;
  height: fit-content;
  background-color: none;
  border: 0.7px solid #272341;
  border-radius: 50px;
  display: flex;
  position: absolute;
  top: 20px;
  left: -75px;
  font-size: 10px !important;
}

.footer .linksSection {
  display: flex;
  position: relative;
  width: 100%;
  height: fit-content;
  background-color: none;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.linksSection .left {
  display: flex;
  position: relative;
  width: 35%;
  height: 100%;
  background-color: none;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.linksSection .left .container {
  position: relative;
  display: flex;
  width: fit-content;
  height: 100%;
  align-items: start;
  justify-content: start;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: left;
}

.linksSection .left .container .topText {
  position: relative;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  color: #3a3947;
  font-family: Montserrat;
  letter-spacing: 0px;
  margin-bottom: 8px;
}

.linksSection .left .container .bottomText {
  position: relative;
  display: flex;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: normal;
  color: #96989b;
  letter-spacing: 0px;
  margin-bottom: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.linksSection .left .container .bottomText:hover {
  color: #3a3947;
}

.linksSection .right {
  position: relative;
  display: flex;
  width: 65%;
  height: 100%;
  background-color: none;
  align-items: start;
  justify-content: end;
}

.linksSection .right .navBar {
  display: flex;
  position: relative;
  width: 80%;
  background-color: #f1f1f1;
  border-radius: 100px;
  height: 60px;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
}

.navBar .item {
  display: flex;
  position: relative;
  padding: 8px 10px;
  border-radius: 50px;
  background-color: none;
  color: #272341;
  cursor: pointer;
  transition: 0.5s;
}

.navBar .item:hover {
  background-color: #3a3947;
  color: #d1d5db;
}

.navBar a {
  text-decoration: none;
  background-color: none !important;
}

.navBar .item:last-child {
  background-color: #3a3947;
  color: #d1d5db;
}

.footer .copyright {
  display: flex;
  position: relative;
  bottom: 0;
  background-color: none;
  width: 100%;
  height: fit-content;
  align-items: start;
  justify-content: start;
  font-size: 14px;
  font-family: Montserrat !important;
  font-weight: normal !important;
  color: #96989b !important;
  letter-spacing: 0px;
  flex-wrap: wrap;
  margin-top: 70px;

  gap: 5px;
}

.copyright .top {
  width: 100%;
  height: 50%;
  align-items: center;
  justify-content: start;
  position: relative;
  display: flex;
}

.copyright .bottom {
  width: 100%;
  height: 50%;
  align-items: center;
  justify-content: start;
  position: relative;
  display: flex;
}

@media screen and (max-width: 950px) {
  .footer {
    scale: 0.8;
  }

  .navBar {
    scale: 0.8;
  }

  .navBar .item {
    padding-inline: 5px;
  }
}

@media screen and (max-width: 700px) {
  .topHeader {
    width: 100vw;
    border-radius: 0px !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 70px !important;
  }

  .topHeader .left {
    scale: 0.8;
  }

  .topHeader .right {
    scale: 0.8;
  }

  .topHeader {
    height: 200px !important;
  }

  .navBar {
    width: 85% !important;
  }
}

@media screen and (max-width: 510px) {
  .linksSection {
    flex-direction: column;
    align-items: center !important;
    justify-content: space-between !important;
  }

  .linksSection .left {
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  .linksSection .right {
    display: flex;
    background-color: none;
    align-items: center;
    justify-content: center;
  }

  .topHeader {
    width: 100vw;
    border-radius: 0px !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 20px !important;
  }

  .topHeader .right {
    scale: 0.6;
  }

  .topHeader .left {
    scale: 0.6;
  }

  .linksSection .right {
    width: 100%;
  }
  .navBar {
    scale: 0.8;
    width: 100% !important;
  }
  .navBar .item {
    padding-inline: 15px !important;
  }
}
